In [1]:
import pandas as pd
data=pd.read_csv('/content/Decision Tree Adult Income.csv')
data.head()

   age        wc   education  ...   gender hours per week IncomeClass
0   38   Private     HS-grad  ...     Male             40       <=50K
1   28   Private   Bachelors  ...   Female             40       <=50K
2   37   Private     Masters  ...   Female             40       <=50K
3   31   Private     Masters  ...   Female             50        >50K
4   42   Private   Bachelors  ...     Male             40        >50K

[5 rows x 8 columns]

In [2]:
data_prep=pd.get_dummies(data,drop_first=True)
data_prep

       age  hours per week  ...  gender_ Male  IncomeClass_ >50K
0       38              40  ...             1                  0
1       28              40  ...             0                  0
2       37              40  ...             0                  0
3       31              50  ...             0                  1
4       42              40  ...             1                  1
...    ...             ...  ...           ...                ...
19782   53              40  ...             1                  1
19783   22              40  ...             1                  0
19784   40              40  ...             1                  1
19785   58              40  ...             0                  0
19786   22              20  ...             1                  0

[19787 rows x 20 columns]

In [0]:
X=data_prep.iloc[:,:-1]
Y=data_prep.iloc[:,-1]

In [0]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(random_state=1234)

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(random_state=1234)

In [0]:
from sklearn.svm import SVC
svc=SVC(kernel='rbf',gamma=0.5)

**Perform Crossvalidation**

In [7]:
from sklearn.model_selection import cross_validate
cv_result_dtc = cross_validate(dtc,X,Y,cv=10,return_train_score=True)
cv_result_dtc

{'fit_time': array([0.04566932, 0.03971004, 0.0395968 , 0.03823304, 0.03976965,
        0.03980517, 0.03917646, 0.03920484, 0.03873563, 0.03815341]),
 'score_time': array([0.00202274, 0.00192261, 0.00186324, 0.00166464, 0.00186849,
        0.00195336, 0.00177789, 0.0017271 , 0.00165415, 0.00201488]),
 'test_score': array([0.77261243, 0.77059121, 0.78170793, 0.75593734, 0.78878221,
        0.79535119, 0.78676099, 0.79271992, 0.77704752, 0.78918099]),
 'train_score': array([0.90408805, 0.90571653, 0.90380728, 0.90571653, 0.90358266,
        0.90380728, 0.90380728, 0.90414959, 0.90532877, 0.90353192])}

In [8]:
cv_result_rfc = cross_validate(rfc,X,Y,cv=10,return_train_score=True)
cv_result_rfc

{'fit_time': array([1.2175715 , 1.19250536, 1.18607402, 1.19352794, 1.19180465,
        1.18335676, 1.19027615, 1.19682503, 1.18169379, 1.19037962]),
 'score_time': array([0.05968785, 0.05548716, 0.055861  , 0.05566525, 0.05702186,
        0.05461383, 0.05527496, 0.05569077, 0.05551171, 0.0565238 ]),
 'test_score': array([0.79029813, 0.78524507, 0.80242547, 0.77716018, 0.81152097,
        0.80090955, 0.80596261, 0.8124368 , 0.78816987, 0.79777553]),
 'train_score': array([0.90397574, 0.90566038, 0.90375112, 0.90566038, 0.9035265 ,
        0.90375112, 0.90375112, 0.90409344, 0.90527261, 0.90347577])}

In [9]:
cv_result_svc = cross_validate(svc,X,Y,cv=10,return_train_score=True)
cv_result_svc

{'fit_time': array([26.77925611, 26.9417119 , 26.1658988 , 27.22803617, 26.90217233,
        26.79254746, 27.25368333, 26.93885899, 26.99654031, 26.78880572]),
 'score_time': array([1.0253861 , 1.02990723, 1.02609587, 1.02695441, 1.03242111,
        1.03121281, 1.02589297, 1.03390837, 1.04597712, 1.02374005]),
 'test_score': array([0.79939363, 0.79080344, 0.81202628, 0.79332996, 0.81758464,
        0.81101566, 0.79838302, 0.81294237, 0.80283114, 0.79777553]),
 'train_score': array([0.87432615, 0.87707772, 0.87342767, 0.87578616, 0.87387691,
        0.87404537, 0.87415768, 0.87394014, 0.87517547, 0.87298557])}

**Get average of results**

In [11]:
import numpy as np
dtc_test_average=np.average(cv_result_dtc['test_score'])
dtc_test_average

0.7810691737459707

In [13]:
rfc_test_average=np.average(cv_result_rfc['test_score'])
rfc_test_average

0.7971904185045097

In [12]:
svc_test_average=np.average(cv_result_svc['test_score'])
svc_test_average

0.8036085674097743

In [18]:
dtc_train_average=np.average(cv_result_dtc['train_score'])
dtc_train_average

0.9043535882172298

In [19]:
rfc_train_average=np.average(cv_result_rfc['train_score'])
rfc_train_average

0.9042918191721612

In [20]:
svc_train_average=np.average(cv_result_svc['train_score'])
svc_train_average

0.8744798848765454